body{display: flex;flex-direction: column;min-height: 100vh;justify-content: space-between;}
.header-wrapper{height: 20%;background-color: rgba(153,193,222,1.00);}
.main_content_wrapper{flex: 1;display: flex;flex-direction: column;}
.footer-wrapper{
	background-color: rgba(31,31,31,1.00);
}
.main-width{width: 80%;margin-left: auto;margin-right: auto;left: 0;right: 0;flex: 1;padding: .5em;}

h1{
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 45px;margin-top: 45px;text-align: center;color: #CB0404;
}

h2{
	font-family: "Trebuchet MS", Verdana, "sans-serif";color: rgba(9,80,132,1.00);font-size: 21px;
	margin-top: 25px;
}

h3{
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";font-size: 28px;color: #000000; 
}

.header_link:link,.header_link:visited,.header_link:hover,.header_link:active{
	display: block;background-color:rgba(9,80,132,1.00);margin: 10px;border-radius: 5px;width: 130px;
	padding: 5px;color: #FFFFFF;text-align: center;border: 1px solid #FFFFFF;transition: all 0.3s;
	font-size: 15px;
}
.header_link:hover{
	background-color:#FFFFFF;color: rgba(9,80,132,1.00);border: 1px solid rgba(9,80,132,1.00);
	transition: all 0.3s;
}
.welcome-user{
	display: block;margin: 10px;
	padding: 5px;color: #000000;
	font-size: 17px;
}

.edit_lbl{
	line-height: 40px;padding: 0;font-weight: bold;visibility: hidden;display: inline-block;
	margin-left: 15px;color: #CB0404;
	font-family: "Trebuchet MS", Verdana, "sans-serif";
	font-size: 25px;
}