<div class="header-wrapper">
	<header class="header main-width">
		<div class="d-flex flex-column justify-content-between w-100 h-100">
			<div class="p-2 align-self-center">
				<h3>Wir machen Druck Panel</h3>
			</div>
			<div class="p-2 align-self-center">
				<nav class="navbar navbar-expand-sm">
				  <ul class="navbar-nav">
					  <?php if(isset($_SESSION['admin-username'])){ ?>
					  	 <li class="nav-item">
						  	<p class="nav-link welcome-user">Welcome <?php echo $_SESSION['admin-username']; ?></p>
						 </li> 
					  	 <li class="nav-item">
						  <a class="nav-link header_link" href="<?php echo PROJECTDIR."post/index" ?>">
							 <i class="fas fa-book"></i> Posts
						  </a>
						</li>
					    <li class="nav-item">
						  <a class="nav-link header_link" href="<?php echo PROJECTDIR."user/index" ?>">
							 <i class="fas fa-book"></i> Users
						  </a>
						</li>
					  	<li class="nav-item">
						  <a class="nav-link header_link" href="<?php echo PROJECTDIR."home/index" ?>">
							 <i class="fas fa-home"></i> Home
						  </a>
						</li> 
						 <li class="nav-item">
						  <a class="nav-link header_link" href="#">
							 <i class="fas fa-sign-out-alt"></i> Sign Out
						  </a>
						</li>
						
					  <?php  }else{ ?>
					    
						<li class="nav-item">
						  <a class="nav-link header_link" href="<?php echo PROJECTDIR."auth/signinForm" ?>">
							 <i class="fas fa-sign-in-alt"></i> Sign In
						  </a>
						</li>
					  <?php  } ?>
					</ul>
				</nav>
			</div>
		</div>
	</header>
</div>