
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">	
<title><?php echo (isset($this->page_title))? $this->page_title:""; ?></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
<link rel="stylesheet" href=<?php echo PROJECTDIR."public/style/main.css" ?> >
	
<script src=<?php echo PROJECTDIR."public/script/jquery-3.5.1.min.js" ?> ></script></scrip>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

<script src=<?php echo PROJECTDIR."public/script/auth.js" ?> ></script></scrip>
<script src=<?php echo PROJECTDIR."public/script/functions.js" ?> ></script></scrip>
<script src=<?php echo PROJECTDIR."public/script/sha512.js" ?> ></script></scrip>
</head>

