<div class="container">
  <h2>Sign In</h2>
  <form name="signin_frm" id="signin_frm" action="<?php echo PROJECTDIR.'auth/signin'; ?>" novalidate>
    <div class="form-group">
      <label for="uname">Username:</label>
      <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <button type="button" class="btn btn-primary" onClick="submitSignInForm()">Submit</button>
  </form>
</div>