<!doctype html>
<html>
<?php include(VIEW . 'common/head' . '.phtml'); ?>

<body>
	<?php include(VIEW . 'common/header' . '.phtml'); ?>
	<div class="main_content_wrapper">
		<div id="main_content" class="main_content main-width">
	<?php include(VIEW . $this->view_file . '.phtml'); ?>
		</div>
	</div>
	<div class="footer-wrapper"><?php include(VIEW . 'common/footer' . '.phtml'); ?></div>
	<?php include(VIEW . 'common/modal' . '.phtml'); ?>
</body>
</html>