<?php
/******************************************************************/
/** 
get & set parameters for add/edit in db
getting the id of item.If it hasn't been set then it is add mode and
if it has been set it is edit mode
**/
/******************************************************************/
if(array_key_exists('id', $this->view_data)){
	$id = $this->view_data['id'];
}else{
	$id = 0;
}

if($id == 0){
	$name = "";
	$uname = "";
	$password = 1;
	$user_type = '';
}else{
	$book_dtl 	= $this->view_data['book_dtl'];
	$name 		= $book_dtl[0]['name'];
	$uname 		= $book_dtl[0]['uname'];
	$password 	= $book_dtl[0]['password'];
	$user_type 	= $book_dtl[0]['user_type'];
}

/** checking the type of book(book/copy) and mark cheched attribute for :checkbox */
$type_admin = ''; $type_writer = '';
if($user_type == 1){
	$type_admin = 'checked';
}else{
	$type_writer = 'checked';
}

/** checking if this item has copy and mark cheched attribute for :checkbox */
$has_copy_checked = ''; $not_copy_checked = '';
if(!empty($copy_id) && $copy_id>0){
	$has_copy_checked = 'checked';
	$java = "$('#copies_number_div').css({'visibility':'visible'});";
}else{
	$not_copy_checked = 'checked';
	$java = "$('#copies_number_div').css({'visibility':'hidden'});";
}
?>
<form id="user_frm" name="user_frm" action="<?php echo PROJECTDIR.'user/addEdit'; ?>" novalidate>
<div class="form-group">
  <label for="title">Name:</label>
  <input type="text" class="form-control" id="Name" placeholder="Enter name" name="name" value="<?php echo $name; ?>" required>
  <div class="valid-feedback">Valid.</div>
  <div class="invalid-feedback">Please fill out this field.</div>
</div>
<div class="form-group">
  <label for="uname">Username:</label>
  <input type="email" class="form-control" id="uname" placeholder="Enter Username" name="uname" value="<?php echo $uname; ?>" required>
  <div class="valid-feedback">Valid.</div>
  <div class="invalid-feedback">Please fill out this field.</div>
</div>
<div class="form-group">
  <label for="pwd">Password:</label>
  <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
  <div class="valid-feedback">Valid.</div>
  <div class="invalid-feedback">Please fill out this field.</div>
</div>
<div class="form-group">
  <label for="rep_pwd">Repeat Password:</label>
  <input type="password" class="form-control" id="rep_pwd" placeholder="Repeat password" name="rep_pwd" required oninput="validatePw2(this)">
  <div class="valid-feedback">Valid.</div>
  <div class="invalid-feedback">Please fill out this field.</div>
</div>	
	
<div class="form-group">
  	<label for="author">Is this Admin?</label>
  	<div class="form-check form-check-inline">
	  <input class="form-check-input" type="radio" name="user_type" id="user_admin" value="a" 
			 <?php echo $type_admin; ?> >
	  <label class="form-check-label" for="user_admin">yes</label>
	</div>
	<div class="form-check form-check-inline">
	  <input class="form-check-input" type="radio" name="user_type" id="user_writer" value="u" 
			 <?php echo $type_writer; ?> checked>
	  <label class="form-check-label" for="user_writer">no</label>
	</div>
</div>
	
<div class="form-group">
	<input type="hidden" id="id" name="id" value="<?php echo $id; ?>" />
	<button type="button" class="btn btn-primary mb-2" onClick="submitUserForm()">Save</button>
	<label id="edit_lbl" class="edit_lbl">Now you can Edit the selected user</label>
</div>	
</form>

<div style="clear: both"></div>