<?php
if(empty($users)){
	$users = $this->view_data['users'];
}
?>
<h1>User List</h1>
<!-------------------------------------------------------------------------->
<!-- Add/edit Vocab -------------------------------------------------------->
<!-------------------------------------------------------------------------->
<h2><i class="far fa-edit"></i>&nbsp;&nbsp;Add/Edit User</h2>
<div id="add_book_div"><?php include(VIEW . 'user/add-user' . '.phtml'); ?></div>

<!-------------------------------------------------------------------------->
<!-- Vocab list ------------------------------------------------------------>
<!-------------------------------------------------------------------------->
<h2><i class="far fa-list-alt"></i>&nbsp;&nbsp;User List</h2>
<div id="list_view_div">
	<?php //include(VIEW . 'user/list-user' . '.phtml'); ?>
</div>